/*minkyung*/

//font setting
@mixin font($size : 1rem , $weight : 200){
    font: {
      family: 'Sora','Noto Sans KR';
      size: $size;
      weight: $weight;
    };
    letter-spacing: -1px;
}

//flex setting
@mixin flex($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//box-sizing,box-shadow setting
@mixin box() {
    box : {
        sizing : border-box;
        shadow : 2px 2px 4px rgba(0,0,0,0.1);
    }
}

//parallax distance setting
@mixin parallax($distance : 0) {
    transform: translateZ($distance * 1px);
    z-index: $distance * 1000 ;
}
  